@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: blanchedalmond;
}

/* .swiper-button-next:after,
.swiper-button-prev:after {
  color: aquamarine;
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background: aquamarine; !important
} */
